# Ignore everything
*
# But these files
!.gitignore
!.gitattributes
!CMakeLists.txt
!Doxyfile
!LICENSE
!readme.MD
# And these filetypes
!*.sh
# And these directories
!build/
!include/
!clips60/
!clipsclient/
!clipsserver/
!clipscontrol/
!docs/
!tests/
